*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html,
body{
    background-color:#192A32;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    user-select: none;
}
.repeat{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 3;
    grid-row: 1;
}
.turn{
    background-color: white;
    width: 33%;
    grid-column: 2;
    grid-row: 1;
}
.head{
    display: flex;
    align-items: center;
    grid-column: 1;
    grid-row: 1;
}
.x{
    height: 18vh;
}
.h{
    height: 8vh;

}
.container{
    height: 90vh;
    aspect-ratio: 6 / 9;
    display: grid;
    grid-template-rows: 10% repeat(3,1fr) 20%;
    grid-template-columns: repeat(3,1fr);
}
.square{
    background-color: #1F3540;
    border-radius: 20px;
    margin: 8%;
    box-shadow: 0px 7px #0E2029;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s ease 0s;

}
.square:hover{
    margin-top: 4%;
    margin-bottom: 12%;
    box-shadow: 0px 12px #0E2029;
    cursor: pointer;
}

.square:active {
    margin-top: 10%;
    margin-bottom: 5%;
    box-shadow: 0px 0px #0E2029;
    cursor: pointer;
}


.semiSquare{
    border-radius: 20px;
    margin: 8%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 5%;
    font-size: large;
    color: #1F3540;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}

.green{
    background-color: #31C3BE;
    box-shadow: 0px 7px #33757D;
}

.white{
    background-color: #A9C0C9;
    box-shadow: 0px 7px #677A83;
}

.yellow{
    background-color: #F0B336;
    box-shadow: 0px 7px #897443;
}

.repeat{
    background-color: #B1C6D1;
    border-radius: 10px;
    margin: 8%;
    box-shadow: 0px 7px #738A95;
    width: 33%;
    justify-self: end;
}
.repeat:hover{
    margin-top: 4%;
    margin-bottom: 12%;
    box-shadow: 0px 12px #738A95;
}
.minor{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: x-large;
    color: #B4CAD6;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}